@model GCook.ViewModels.HomeVM
@{
    ViewData["Title"] = "Home";
}

<div class="pt-4 container">
    <div class="d-flex flex-column text-center text-white ">
        <h1 class="display-4">GCook</h1
        <hr>
        <h5>Escolha sua categoria</h5>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-2 mt-2">
        @foreach (Categoria categoria in Model.Categorias)
        {
            <div class="col">
                <div class="bg-light rounded-2">
                    <img src="@categoria.Foto" class="w-100 rounded-top-2" alt="@categoria.Nome">
                    <h3 class="display-4 fs-6 text-dark py-2">
                        @categoria.Nome
                    </h3>
                </div>
            </div>
        }
    </div>
</div>


    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3 mt-4">
        @foreach (Receita receita in Model.Receitas)
        {
            <!-- Card Receita - Inicio -->
            <div class="col">
                <a asp-action="Receita" asp-route-id="@receita.Id" class="text-decoration-none">
                    <div class="card bg-dark border-white">
                        <img src="@receita.Foto" class="card-img-top object-fit-cover" alt="@receita.Nome" height="260" />
                        <div class="card-body">
                            <h5 class="card-title text-white mb-3">@receita.Nome</h5>
                            <div class="d-flex justify-content-between">
                                <span class="text-white">@receita.Categoria.Nome</span>
                                <span class="text-white">@receita.Ingredientes.Count() Ingredientes</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Card Receita - Fim -->
        }
    </div>

</div>